*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #334155;
}

h1,
h2,
h3,
h4 {
  line-height: 1.15;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 24px;
}

.form__group {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.form__group--radio,
.form__group--checkbox {
  gap: 12px;
}

.form__radio-group,
.form__checkbox-group {
  display: flex;
  gap: 12px;
}

.form__radio-group label,
.form__checkbox-group label {
  font-weight: 400;
  font-size: 16px;
}

.form__button-group {
  display: flex;
  gap: 16px;
}

label,
h3 {
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
}

/* inputs */
.input--text,
textarea,
select {
  padding: 8px 12px;
  font: inherit;
  color: inherit;
  font-size: 14px;

  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 4px;

  outline: 2px solid transparent;
  transition: all 0.2s;
}

.input--text:focus,
textarea:focus,
select:focus {
  outline: 2px solid #7c3aed;
}

.input--text {
  max-width: 250px;
}

select {
}

.input--radio {
}

.input--check {
}

textarea {
  max-width: 500px;
  height: 96px;
}

select {
  max-width: 250px;
}

.button {
  background-color: transparent;
  border: none;
  padding: 12px 16px;
  font-weight: 600;
  color: inherit;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.button--cta {
  background-color: #7c3aed;
  color: #f8fafc;
}

.button--cta:hover {
  background-color: #6d28d9;
}

.button--gray {
  background-color: #e2e8f0;
}

.button--gray:hover {
  background-color: #cbd5e1;
}
