/* Navigation */
.header {
  height: 64px;
  width: 100vw;
  position: fixed;
  background-color: rgba(241, 245, 249, 0.95);
  padding: 16px 32px;

  display: flex;
  align-items: center;

  &:hover li {
    opacity: 50%;
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navigation__list li {
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}

.navigation__list li a {
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s;

  display: block;
}

/* Dropdown */
.dropdown-parent {
  position: relative;

  &:hover .dropdown {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
    pointer-events: all;
  }

  &:hover .dropdown-wrapper {
    pointer-events: all;
  }
}

.dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 8px;

  pointer-events: none;
}

.dropdown {
  background-color: #f1f5f9;
  border-top: 2px solid #4f46e5;
  padding: 12px;
  min-width: max-content;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;

  /* animation */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  translate: 0 -16px;
  transition: all 0.2s;
}

/* ----- */
section {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

section:nth-of-type(1) {
  padding-top: calc(64px + 48px);
}

/* Personal projects */
.section-class-projects {
  background-color: #f1f5f9;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  background-color: #f1f5f9;
  padding: 12px;
}

.project__img {
  width: 100%;
}

.project__text {
  font-size: 18px;
}

/* class projects */
.class-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 24px;
  row-gap: 48px;
}

.class-project {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.class-project a {
  margin-top: auto;
}

/* shared styles */

.project__text h2,
.class-project h2 {
  margin-bottom: 8px;
}

.project__text p,
.class-project p {
  margin-bottom: 16px;
}
