*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  color: #1e293b;
  line-height: 1.5;
}

.section-projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
}

h1 {
  line-height: 1.15;
  font-size: 32px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  background-color: #f1f5f9;
  padding: 12px;
}

.project__img {
  width: 100%;
}

.project__text {
  font-size: 18px;
}

.project__text h2 {
  line-height: 1.15;
  margin-bottom: 8px;
  font-size: 24px;
  text-transform: capitalize;
}

.project__text p {
  margin-bottom: 16px;
}

.project__text a:link,
.project__text a:visited {
  display: inline-block;
  text-decoration: none;
  color: #f1f5f9;
  font-weight: 600;
  padding: 8px 12px;

  background-image: linear-gradient(to left, #4f46e5 50%, #4338ca 50%);
  background-size: 200%;
  background-position: 100%;
  transition: all 0.2s;
}

.project__text a:hover,
.project__text a:active {
  background-position: 0%;
}
