section {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Personal projects */
.section-class-projects {
  background-color: #f1f5f9;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  background-color: #f1f5f9;
  padding: 12px;
}

.project__img {
  width: 100%;
}

.project__text {
  font-size: 18px;
}

/* class projects */
.class-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 24px;
  row-gap: 48px;
}

.class-project {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.class-project a {
  margin-top: auto;
}

/* shared styles */

.project__text h2,
.class-project h2 {
  margin-bottom: 8px;
}

.project__text p,
.class-project p {
  margin-bottom: 16px;
}
