.rollover {
  width: 40rem;
  height: 100%;
  aspect-ratio: 1 / 1;

  background-image: url("../imgs/javascript.png");
  background-size: cover;

  &:hover {
    background-image: url("../imgs/typescript.png");
  }
}

.about__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & li p {
    & span {
      font-weight: 600;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.about__about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

td,
th {
  border: 1px solid #94a3b8;
  padding: 0.4rem 0.8rem;
  text-align: left;
}

tr td:nth-child(3),
tr th:nth-child(3) {
  background-color: #a7f3d0;
}

tr td:nth-child(4),
tr th:nth-child(4) {
  background-color: #f8fafc;
}

tr:nth-child(4) td:nth-child(3),
tr:nth-child(4) td:nth-child(4) {
  background-color: #c4b5fd;
}
